<main class="menu">
	<section class="menu-opcoes">
		<a class="opcoes-wrapped" href="/random">
			<div class="opcoes">
				<p>🎲 RANDOM</p>
			</div>
		</a>
		<a class="opcoes-wrapped" href="/today">
			<div class="opcoes">
				<p>📆 TODAY</p>
			</div>
		</a>
	</section>
</main>