<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FACTS</title>

		<link rel="stylesheet" href="css/style.css" />
		<script
			src="https://kit.fontawesome.com/586c659954.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<header>
			<a href="/">
				<h1>Useless <i class="fa-solid fa-trash"></i> Facts</h1>
			</a>
		</header>

		{{{body}}}

	</body>
</html>